{{ $section := .Site.GetPage "section" .Section }}
<article class="post-full post"> 
    <header class="post-full-header">
        <section class="post-full-meta">
            <time class="post-full-meta-date" datetime="{{.Date.Format "2006-01-02"}}">{{ .Date.Format "2 January 2006" | safeHTML }}</time>{{if .Params.tags }}
                <span class="date-divider">/</span> {{ range $index, $tag := .Params.tags }}{{if lt $index 2}}<a href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}/">#{{$tag}}</a>&nbsp;{{end}}{{end}}{{ end }}

        </section>

        {{/*
        Show "reading time" and "word count" but only if one of the following are true:
        1) A global config `params` value is set `show_reading_time = true`
        2) A section front matter value is set `show_reading_time = true`
        3) A page front matter value is set `show_reading_time = true`
        */}}
        {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
        <div class="read-count">
            <span> {{ .ReadingTime}} minutes read</span>
            <span> | {{ .WordCount}} words</span>
        </div>
        {{ end }}

        <h1 class="post-full-title">{{.Title}}</h1>
    </header>
    {{if .Params.image}}
    <div class="post-full-image" style="background-image: url({{.Params.image | absURL}})">
    </div>{{else if or .Site.Params.randomFallbackImagesPage .Params.randomFallbackImage}}
    <div class="post-full-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)">
    </div>{{end}}

    <section class="post-full-content">
        <div class="kg-card-markdown">
        {{ .Content }}    
        </div>
    </section>

    <footer class="post-full-footer">
      <section class="author-card">
            {{$author := (index (where .Site.Params.authors "name" .Params.author) 0)}}
            <img class="author-profile-image" src="{{ ($author.image | default .Site.Params.authorAvatar) | absURL}}" alt="Author" />
        <section class="author-card-content">
                <h4 class="author-card-name"><a href="/authors/{{$author.nick}}">{{.Params.author | default .Site.Params.author}}</a></h4>
            <p>{{.Params.authorDescription | default .Site.Params.authorDescription}}</p>
            <div class="author-meta">
                    {{.Params.authorLocation | default .Site.Params.authorLocation}}
            </div>
        </section>
      </section>
    </footer>
</article>